
    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title></title>
    </head>
    <body id="my-body">
        <div>
            <br />
            <span id="invalid" class="alert alert-danger" hidden></span>
            <br />
            <br />
        </div>
        <form method="post">
            <input type="text" name="Name" id="Name" placeholder="Name" class="form-control" />
            <br />
            <input type="text" name="Email" id="Email" placeholder="Email" class="form-control" />
            <br />
            <input type="text" name="Password" id="Password" placeholder="Password" class="form-control" />
            <br />
            <button id="btn" class="btn btn-primary" disabled>Sign Up</button>
        </form>
        @section Scripts {

            <script src="~/js/SignUpJs.js"></script>
            }
    </body>
    </html>

