
    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title></title>
    </head>
    <body>
        <form method="post">
            <input type="text" name="Name" placeholder="Name" class="form-control" />
            <input type="text" name="Email" placeholder="Email" class="form-control" />
            <input type="text" name="Password" placeholder="Password" class="form-control" />
            <button class="btn btn-primary">Sign Up</button>
        </form>
    </body>
    </html>

